@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.login-page {
    background-color: #ffffff;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 80px; 
    margin: 4.5%;
  }
  
  
  .login-card {
    background-color: #f9f9f9;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
    width: 90%;
    max-width: 400px;
  }
  
  .login-title {
      font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
  }
  
  .login-form input {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 12px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .signup-redirect {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.95rem;
  }
  
  .signup-redirect a {
    color: #27548A;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-redirect a:hover {
    text-decoration: underline;
  }
  
  .login-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grass-image {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  margin-top: -60px;
}



