.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 3rem; 

   
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem; 
  }
  
  .nav-links a {
    text-decoration: none;
    color: #183B4E;
    font-weight: 700;
    font-size: 1.1rem;
    margin-right: 20px;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #3e89b2;
  }

  .order-now-btn {
  color: #183B4E;
  font-weight: bold;
  font-size: 18px;
  background-color: #7994b5;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-right: 20%;
}

.order-now-btn:hover {
  background-color: #adc2dc; /* Darker shade on hover */
}



  
  
  
  