@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 3rem; 
    width: 97%;
    height: 10%;
   

   
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 1%;
    margin-left: 2px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem; 
  }
  
  .nav-links a {
      font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    margin-right: 20px;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #3D873A;
  }

  .order-now-btn {
      font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  background-color: #52AE77FF;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-right: 30px;
}

.order-now-btn:hover {
  background-color: #499B6AFF;
}


  
  
  
  