@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.success-container {
  background-color: #ffffff;
  color: #183B4E;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.success-container h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.success-container button {
   background: #52AE77FF; 
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.success-container button:hover {
  color: #FFFFFFFF;
  background: #499B6AFF;
}